*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar & logo */
.navigation {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(68, 117, 207);
  top: 0;
  width: 100%;
}

.navbar-right {
  float: right;
  padding-right: 10%;
}

.navbar-right a {
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 800;
  margin-right: 30px;
}

.navbar-right a:hover {
  border: 3px solid rgb(162, 245, 29);
}
.navbar-logo {
  padding-left: 10%;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* form email with submit button  */

.wrapper {
  margin: auto;
  margin-bottom: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 440px;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.header {
  padding: 50px 50px 100px 50px;
  min-height: 150px;
  background: url(https://cdn0.iconfinder.com/data/icons/elpis/144/Newsletter-128.png)
    no-repeat center 130px;
}
.header h1 {
  color: #536a89;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 4px;
}
.header p {
  font-size: 13px;
  color: rgba(#5c7698, 0.8);
}
.footer {
  display: flex;
  justify-content: space-between;
}

.footer form {
  flex-grow: 1;
  display: flex;
}

.footer input {
  background: #e0e5ec;
  border: none;
  padding: 20px 25px;
  flex-grow: 2;
  color: #5c7698;
}

.footer .btn-submit {
  background: #c6cfdc;
  border: none;
  padding: 20px;
  flex-grow: 1;
  color: #5c7698;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.back {
  margin-top: -150px;
  height: 100vh;
  background-color: #172238;
}
.writevid {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  /* margin: 10%; */
}

#video-bg {
  position: relative;
  width: 97%;
  height: 80%;
}

@media only screen and (max-width: 700px) {
  .writevid {
    margin: 5%;
  }
}

.written-head {
  padding: 80px;
}

@media only screen and (max-width: 700px) {
  .written-head {
    padding: 0;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

@media only screen and (max-width: 700px) {
  .gridvid {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.head2 {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: white;
}
.head2 span {
  color: orange;
}

.descrip6 {
  font-family: sans-serif;
  line-height: 1.2rem;
  font-size: 0.7rem;
  color: white;
  padding: 20px 60px 0px 0px;
}

.back2 {
  margin-top: -30px;
  background-color: #172238;
  padding-bottom: 30px;
}
/* hero section  */

.whyUs {
  background-color: #172238;
  background-size: cover;
  /* padding-bottom: 100px; */
  padding: 0 70px 100px;
}

.hContainer {
  text-align: center;
  margin-bottom: 70px;
}

.heading1 {
  margin-top: 100px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid rgba(250, 250, 250, 0.1);
}

.heading1::before {
  content: "";
  width: 1px;
  height: 100px;
  background-color: rgba(250, 250, 250, 0.1);
  position: absolute;
  top: -100px;
  left: 50%;
}

.pointBox {
  display: flex;
  justify-content: space-around;
}

.pointBoxItem {
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  padding-bottom: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.nonActive::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.Active::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  background-color: transparent;
  left: 40%;
  bottom: -5px;
  border-color: #f5a425;
}

.Active::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f5a425;
  position: absolute;
  left: 46%;
  bottom: 2px;
}

.articleContainer {
  display: flex;
  margin-top: 80px;
  /* flex-wrap:wrap; */
}

.imgContainer,
.textContainer {
  flex: 0 0 50%;
  padding: 0 15px;
}
.imgContainer {
  overflow: hidden;
}
.imgContainer img {
  width: 100%;
  /* height:40% */
  object-fit: cover;
}

.textContainer h2 {
  margin-top: 60px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 30px;
}

.textContainer p {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
}

.videoContainer {
  /* background-image: url(../images/video-bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding: 120px 0px;
}
